<!-- The Angular directive helps us to manipulate the DOM. You can change the appearance, behavior, or layout of a DOM element using the directives. 
They help you to extend HTML 

directive classified into three categories
1) component directive
2) structure directive
3) attribute directive


* component directive -> create a component
* structure directive -> Structural directives can change the DOM layout by adding and removing DOM elements.

    example :
        ngFor , ngSwitch , ngIf

* attribute directive -> ngClass , ngStyle
[that is cover in one way binding topic]
-->
<h1 class="mt">*ngFor</h1>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of customerData">
            <td>{{item.name}}</td>
            <td>{{item.city}}</td>
        </tr>
    </tbody>
</table>

<h1 class="mt">*ngIf</h1>

<div *ngIf="countNumber === 2">
    <p class="mt">Count Number is 2</p>
</div>

<h1 class="mt">*ngSwitch</h1>

<div class="row mt" [ngSwitch]="selectedValue">
    <div *ngSwitchCase="'One'">One is Passed</div>
    <div *ngSwitchCase="'Two'">Two is Passed</div>
    <div *ngSwitchDefault>Default Option</div>
</div>

<h1 class="mt">trackby</h1>

<ul>
    <li *ngFor="let item of collection;trackBy: trackByFn">{{item.id}}</li>
    <button (click)="getItems()">Refresh items</button>
  </ul>


  <h1 class="mt">Custom Directive Example</h1>

  <button type="button" appTtclass>Click Me</button>

  <p
  appAttr
  [defaultColor]="'yellow'" [hightLightColor]="'gray'">
  Hiee! This is Attribute Directive
</p>


 



