
        <!------ Include the above in your HEAD tag ---------->
        
        <div class="container contact">
                <div class="row">
                <div class="col-md-3">
                    <div class="contact-info">
                        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                        <h2>Angular</h2>
                        <h4>Template driven form</h4>
                    </div>
                </div>
                <div class="col-md-9">
                    <form #f="ngForm"  (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                    <div class="contact-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fname">First Name:</label>
                            <div class="col-sm-10">          
                                <input type="text" class="form-control"
                                [(ngModel)]="model.fName" #fName="ngModel"
                                name ="fName"
                                [ngClass]="{ 'is-invalid': f.submitted && fName.invalid }"
                                placeholder="First Name" required>
                                <div *ngIf="f.submitted && fName.invalid" class="invalid-feedback">
                                    <div *ngIf="fName.errors?.['required']"> * First Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="lname">Last Name:</label>
                          <div class="col-sm-10">  
                            <input type="text" class="form-control" 
                            [(ngModel)]="model.lName" #lName="ngModel"
                                name ="lName"
                                [ngClass]="{ 'is-invalid': f.submitted && lName.invalid }"
                                placeholder="Last Address" required>    
                            <div *ngIf="f.submitted && lName.invalid" class="invalid-feedback">
                                <div *ngIf="lName.errors?.['required']"> * Last Name is required</div>
                            </div>  
                           </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="email">Email:</label>
                          <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" 
                            [(ngModel)]="model.email" #email="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                            placeholder="Enter email" name="email" required email>
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors?.['required']"> * Email is required</div>
                                <div *ngIf="email.errors?.['email']">Email must be a valid email address</div>
                            </div> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="comment">Gender:</label>
                          <div class="col-sm-10">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" [value]="'male'"
                                [(ngModel)]="model.gender" #gender="ngModel"
                                checked
                                >
                                <label class="form-check-label" for="male">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" [value]="'female'"
                                [(ngModel)]="model.gender" #gender="ngModel">
                                <label class="form-check-label" for="female">Female</label>
                              </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                              <div class="form-check form-check-inline">
                                <label class="control-label col-sm-2" for="comment">Married</label>
                                <input type="checkbox" class="form-check-input" id="married">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Country:</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="country"
                                name="country"
                                [(ngModel)]="model.country" #country="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && country.invalid }"
                                required>
                                    <option selecetd></option>
                                    <option  *ngFor="let item of countries" [value]="item?.value">{{item?.name}}</option>
                                  </select>
                                  <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                                    <div *ngIf="country.errors?.['required']"> * Country is required</div>
                                </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
                                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors?.['required']">* Password is required</div>
                                    <div *ngIf="password.errors?.['minlength']">* Password must be at least 6 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                          </div>
                        </div>
                    </div>
                </form>
                </div>
                </div>
        </div>        



<!-- Building Blocks of Angular Forms

    * FormControl => represents a single input field in an Angular form.
    * FormArray => an array of form controls. It is similar to FormGroup except for one difference. In FormGroup each FormControl is a property with the control name as the key. 
                   In FormArray is an array of form controls.
    * FormGroup => collection of FormControls . Each FormControl is a property in a FormGroup. with the control name as the key.
-->

<!-- In Template Driven Forms we specify behaviors/validations using directives and attributes in our template and let it work behind the scenes. 
All things happen in Templates hence very little code is required in the component class. This is different from the reactive forms, 
where we define the logic and controls in the component class. -->

<!-- 
Advantages :

* Contains little code in the component class 
* Easier to set up 

disAdvantages:

* Difficult to add controls dynamically
* Unit testing is a challenge -->

<!-- <form #contactForm="ngForm">
* ngForm directive automatically detects the <form> tag and automatically binds to it.
</form> -->