
<h1>View Child Example</h1>
<app-viewc-child ></app-viewc-child>

<div class="container">

    <input type="checkbox" id="showCounter"
     name="showCounter" [(ngModel)]="showCounter">
    <ng-container  *ngIf="showCounter">
        <button type="button" class="btn btn-primary"
        (click)="IncNumber()">Increment</button> &nbsp;
        <button type="button" class="btn btn-warning"
        (click)="decNumber()">Decrement</button>

        <!-- <app-viewc-child ></app-viewc-child> -->
       <!--  error : {{static:true}}
        Cannot read properties of undefined reading increment  -->
    </ng-container>
</div>








 <!--  * view child and view children are used to query and get the refrence of the DOM element in the component.

  * view child => return first match of element from the DOM and update the component variable which we can apply
  * view children => return all match of element as a queryList of item

  syntex :
 
    * ViewChild(selector: string | Function | Type<any>, opts: { read?: any; static: boolean; }): any

    * static : true => will resolve before any change detection is run.
              false => will resolve after every change detection is run
    * read : use it to read the diff token from the queried element -->


    <!-- 
        * static : true
    Because in the above case Angular does not render the child component immediately. 
    But after the first change detection which detects the value of showCounter and renders the child component.
    -->
