<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Angular Course</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true">
        <mat-nav-list>
            <h3>Data Binding</h3>
            <ul>
                <li>
                    <a [routerLink]="['/data-binding/one-way-binding']">One Way Data Binding</a>
                </li>
                <li>
                    <a [routerLink]="['/data-binding/two-way-binding']">Two Way Data Binding</a>
                </li>
            </ul>
            <h3>Change & NgModelChange</h3>
            <ul>
                <li>
                    <a [routerLink]="['/change-event-example']">Change & NgModelChange</a>
                </li>
            </ul>
            <h3>Directive</h3>
            <ul>
                <li>
                    <a [routerLink]="['/directive/directive-example']">Directive</a>
                </li>
            </ul>
            <h3>Pipe</h3>
            <ul>
                <li>
                    <a [routerLink]="['/pipe/pipe-example']">Pipe</a>
                </li>
                <li>
                    <a [routerLink]="['/pipe/async-pipe']">Async Pipe</a>
                </li>
                <li>
                    <a [routerLink]="['/pipe/key-value-pipe']">Key value Pipe</a>
                </li>
            </ul>
            <h3>Component Communication</h3>
            <ul>
                <li>
                    <a [routerLink]="['/component-communication/parent']">parent-child-relationship</a>
                </li>
                <li>
                    <a [routerLink]="['/component-communication/shop-keeper']">ngOnChanges</a>
                </li>
                <li>
                    <a [routerLink]="['/component-communication/parent-counter']">Counter</a>
                </li>
                <li>
                    <a [routerLink]="['/component-communication/viewc-parent']">View Child</a> 
                </li>
                <li>
                    <a [routerLink]="['/component-communication/view-chill-parent']">View children</a> 
                </li>
                <li>
                    <a [routerLink]="['/component-communication/sib-parent']">Sibling Component Comm</a> 
                </li>
            </ul>
            <h3>Forms</h3>
            <ul>
                <li>
                    <a [routerLink]="['/forms/angular-form']">Template driven Form</a>
                </li>
                <li>
                    <a [routerLink]="['/forms/set-form']">Set TD Form using NgModel</a>
                </li>
                <li>
                    <a [routerLink]="['/forms/set-form-ref']">Set TD Form using ref</a>
                </li>
                <li>
                    <a [routerLink]="['/forms/reactive-form']">Reactive Form (Model-driven form)</a>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height : 88vh;">
            <img src="/assets/image/wallpaper.jpg" alt="image">
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>